<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8">
		<title>David Lee</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<style>.content {padding-top: 80px;}</style>
    </head>
    <body>

    	{%- block topbar -%}
    	<div class="topbar">
    		<div class = "fill">
    			<h2>
    				<a href = "/" class = "brand">David Lee</a> <small>Built with Flask, Powered by MongoDB and MongoEngine</small>
    			</h2>
    		</div>
    	</div>
    	{%- endblock -%}

    	<div class = "container">
    		<div class = "content">
	    		{% block page_header %}{% endblock %}
	    		{% block content %}{% endblock %}
    		</div>
    	</div>
    	{% block js_footer %}{% endblock %}
    </body>
</html>