html {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 300;
}

.greetings-header {
  color: #4281A4;
}

.main-wrapper {
  padding-top: 13%;
}

.rounded-image {
  border-radius: 100px;
  border: 2px solid #FFFFFF;
  padding: 10px;
}
